/* Общие стили */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
}

header {
    background-color: rgba(0, 255, 68, 0.2);
    padding: 40px;
    color: #4CAF50;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.btn {
    display: inline-block;
    background-color: #4CAF50;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn:hover {
    background-color: #45a049;
}
.LogoDiv {
    display: flex;
    align-items: center;
    img {
        width: 130px;
        height: 130px;
        position: absolute;
        top: 30px;
        right: 30px;
    }
}

.bold {
    font-weight: 700;
}